/* Estilos generales para el select */
.menu-select {
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 15px;
    appearance: none; /* Elimina el estilo por defecto en algunos navegadores */
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 30px; /* Mueve el select hacia la parte superior */
    right: 30px; /* Mueve el select hacia la derecha */
    z-index: 10; /* Asegura que el select se quede encima del contenido */
}

/* Estilo cuando se hace hover */
.menu-select:hover {
    border-color: #07131b; /* Cambia el borde al hacer hover */
    box-shadow: 0 2px 15px rgba(52, 152, 219, 0.3); /* Sombra más grande */
}

/* Estilo cuando el select está en foco (clickado) */
.menu-select:focus {
    border-color: #071a27; /* Cambia el borde al hacer foco */
    box-shadow: 0 0 10px rgba(236, 207, 109, 0.5); /* Resalta el borde con un destello */
}

/* Estilo para el texto del option */
.menu-select option {
    padding: 10px;
}

/* Estilos para un diseño más limpio */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    position: relative; /* Hace que el body sea el contenedor relativo para el select */
}
