<select class="menu-select" onchange="location = this.value;">
    <option value="" selected disabled>Menú</option>
    <option value="https://fundamentos-ejemmplo1.netlify.app/">Ejemplo 1</option>
    <option value="https://ejemplo2dados.netlify.app/">Ejemplo 2</option>
    <option value="https://ejemplo3productos.netlify.app/">Ejemplo 3</option>
    <option value="https://ejemplo4formularioreact.netlify.app/">Ejemplo 4</option>
    <option value="https://ejemplo5formularioreactivo.netlify.app/">Ejemplo 5</option>
    <option value="https://hotelutx-parcial1.netlify.app/">Proyecto</option>
</select>
