<div class="hero">
    <div class="hero-content">
        <h1 class="title">Bienvenido a Nuestra Empresa</h1>
        <p class="description">
            Somos una empresa comprometida con la innovación y la calidad. Explora nuestro sitio para conocer más sobre nuestros servicios y productos.
        </p>
        <nav class="nav-buttons">
            <a href="https://libros-bd-segundop.netlify.app/" class="btn-link">
                <button class="btn">Libro</button>
            </a>
            <a href="https://ejemplo3productos.netlify.app/" class="btn-link">
                <button class="btn">Productos</button>
            </a>
            <a href="https://hotelutx-parcial1.netlify.app/" class="btn-link">
                <button class="btn">Proyecto Primer Parcial</button>
            </a>
            <button class="btn" (click)="goTo('/acerca_de')">Acerca de</button>
        </nav>
    </div>
</div>
